.item-detail__wrapper {
  padding: 40px 20px;
  background-color: #FFFFFF;
}

.item-detail__container {
  display: flex;
  gap: 200px;
  max-width: 1280px;
  margin: 0 auto;
  align-items: flex-start;
}

.item-detail__image img {
  width: 600px;
  height: 600px;
  margin-top: 50px;
  object-fit: cover;
  border: 1px solid #5F5F5F5F;
}

.item-detail__info {
  flex: 1;
  min-width: 0;
}

.item-detail__name {
  font-size: 45px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 8px;
}

.item-detail__brand {
  font-size: 20px;
  color: #000000;
  margin-bottom: 12px;
}

.item-detail__price {
  font-size: 45px;
  font-weight: normal;
  color: #000000;
  margin-bottom: 16px;
}

.item-detail__tax {
  font-size: 25px;
  color: #000000;
}

.item-detail__icons {
  font-size: 40px;
  display: flex;
  gap: 50px;
  margin-left: 20px;
  margin-bottom: 16px;
}

.like-button-wrapper {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}


.icon,.star-icon {
  transition: transform 0.2s ease;
}

.star-icon.liked {
  
  color: #000000;
}

.like-button:hover,
.comment-display:hover .icon {
  transform: scale(1.1);
  color: #000000;
}

.like-count,
.icon-count {
  font-size: 20px;
  text-align: center;
  color: #000000;
  margin-top: 4px;
}

.item-detail__purchase-button {
  display: inline-block;
  width: 570px;
  height: 60px;
  background-color: #FF5555;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
  cursor: pointer;
}

.item-detail__section {
  margin-top: 32px;
}

.item-detail__section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 12px;
}

.item__category {
  font-size: 24px;
  color: #000000;
  margin-bottom: 8px;
}

.category-tags {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 8px;
}

.category-tag {
  display: inline-flex; 
  background-color: #D9D9D9;
  align-items: center;
  justify-content: center; 
  color: #000000;
  padding: 4px 12px;
  height: 30px;
  border-radius: 15px;
  font-size: 20px;
  text-align: center;
}

.item__condition {
  font-size: 24px;
  color: #000000;
  margin-bottom: 8px;
}

.condition__value {
  font-size: 20px;
  color: #000000;
}

.item-comment {
  margin-bottom: 20px;
}

.item-comment__header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.item-comment__icon-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.item-comment__meta {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item-comment__user {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
}

.item-comment__text {
  background-color: #E5E5E5;
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 20px;
  width: 570px;
  line-height: 1.4;
}

.item-comment-form {
  margin-top: 16px;
}

.item-comment-form__label {
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  display: block;
  margin-bottom: 16px;
}

.item-comment-form__textarea {
  width: 570px;
  height: 250px;
  padding: 16px;
  border: 2px solid #5F5F5F5F;
  border-radius: 5px;
  resize: vertical;
  margin-bottom: 32px;
}

.item-comment-form__submit {
  display: inline-block;
  width: 570px;
  height: 60px;
  background-color: #FF5555;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
  cursor: pointer;
}